
#navbar{
    padding : 11px;
      background-color : white;
      width : 100vw;
      height : 80px;
    display : flex;
    justify-content: space-between;
    
  }

#login{
width : 160px;
height : 80px;
border-radius : 15%;
border : none;
background-color : lightblue;
margin : auto 20px auto 20px;
}

#navbar-right{
display: flex;
}


#restbody{
display : flex;
}

#leftbody{
width : 50%;
height : 200px
}

#rightbody{
width : 50%;
background-color :red;
height : 80vh;
display : flex;
align-contents : center;
justify-contents : center;

}

#heading{
color : white;
font-size : 40px;
font-weight : 20;
}